* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
line-height: 1.6;
background-color: #a67b5b;
display: flex;
flex-direction: column;
min-height: 100vh;
}

section {
padding: 20px;
margin: 10px; 
text-align: left; 
}

section h1 {
font-size: 1.8em;
color: #4e1609;
margin-bottom: 10px;
}

section p {
color: white;
text-align: justify; 
}


main {
flex-grow: 1; 
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
background-color: #DEB887;
color: #fff;
}

.navbar .logo {
font-size: 1.5em;
font-weight: bold;
}

.navbar .nav-links {
list-style: none;
display: flex;
gap: 15px;
}

.navbar .nav-links li {
display: inline;
}

.navbar .nav-links a {
text-decoration: none;
color: #fff;
padding: 8px 15px;
transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-links a:hover {
background-color: #555;
color: #f4f4f9;
border-radius: 5px;
}

.nav-links .dropdown {
position: relative;
}

.nav-links .dropdown-content {
display: none;
position: absolute;
background-color: #DEB887;
min-width: 160px;
z-index: 1;
}

.nav-links .dropdown-content a {
color: #fff;
padding: 10px;
text-decoration: none;
display: block;
}

.nav-links .dropdown-content a:hover {
background-color: #555;
}

.nav-links .dropdown:hover .dropdown-content {
display: block;
}

.nav-links .dropdown:hover > a {
background-color: #555;
}

@media (max-width: 768px) {
.nav-links {
flex-direction: column;
gap: 10px;
}
}

.group-section {
padding: 40px 20px;
text-align: left;
}

.group-section h1 {
font-size: 2.5em;
color: #4e1609;
margin-bottom: 20px;
}

.group-section p {
font-size: 1.2em;
margin-bottom: 40px;
}

.group-table {
width: 100%;
border-collapse: collapse;
margin: 0 auto;
}

.image-cell {
text-align: center;
padding: 5px; 
}

.group-image {
width: 90%;
max-width: 250px;
height: 200px; 
object-fit: cover;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.group-table td[colspan="2"] {
text-align: center;
}

footer {
text-align: center;
padding: 20px;
background-color: #DEB887;
color: white;
position: relative;
bottom: 0;
width: 100%;
}
