body {
font-family: Arial, sans-serif;
background-color: #f0e4d7;
color: #4e1609;
margin: 0;
padding: 0;
}

.container {
max-width: 600px;
margin: 50px auto;
padding: 20px;
background-color: #deb887;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
text-align: center;
margin-bottom: 20px;
}

form {
display: flex;
flex-direction: column;
gap: 15px;
}

label {
font-weight: bold;
}

input, textarea {
padding: 10px;
font-size: 1rem;
border: 1px solid #ccc;
border-radius: 5px;
}

input[type="submit"] {
background-color: #4e1609;
color: white;
cursor: pointer;
border: none;
padding: 10px;
font-weight: bold;
}

input[type="submit"]:hover {
background-color: #714529;
}
